body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: roboto,sans-serif;
  }
  
  .tv {
	width: 800px;
	height: 500px;
	background-color: rgb(20, 91, 135);
	border: 5px solid #333;
	border-radius: 10px;
	padding: 20px;
	color: #fff;
  }
  
  .screen {
	background-color: #000;
	font-size: 100px;
	height: 300px;
	padding: 10px;
	text-align: center;
  }
  
  .remote {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
	gap: 20px;
  }
  
  button {
	height: 75px;
	background-color: #ff0000;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }


